body {
  font-family: Verdana, Sans, Helvetica;
  font-size: 14px;
}
a {
  text-decoration:none;
}
.aaa {
  /*color:#8892bf;*/
  /*color: #824a14;*/
  color: #4c5d8d;
  text-decoration: none;
  font-weight:900;
}
.aaa2 {
  color: #454545;
  text-decoration: none;
  font-weight:900;
}
.aaa2:hover {
  color: #31bc31;
}
.aaa3 {
  color: #FFFFFF;
  text-decoration: none;
  font-weight:900;
}
.aaa3:hover {
  color: #FFFFFF;
  text-decoration:underline;
}
.aaa3-selected {
  text-decoration: none;
  font-weight:900;
  color: #31bc31;
  /*text-decoration:underline;*/
  border-bottom: 3px solid red;
}
.cat {
  float:left;
  width:fit-content;
  padding-left:30px;
}
#footerCont {
  position: fixed; 
  top: 2000px; 
  left:-10px;
  width: 102%; 
  border: 1px solid #C2DBF2; 
  padding: 7px; 
  background: white; 
  opacity: 0.3;
  color:white; 
  font-family: Sans;
  font-size: 12px; 
  text-align: center; 
  z-index: 99998;
}
#footer {
  position: fixed;
  float: right;
  top: 2000px; 
  left:-10px;
  width: 100%; 
  border: 0px solid #C2DBF2; 
  padding: 7px; 
  opacity: 1.0;
  color:black; 
  font-family: Sans;
  font-size: 12px; 
  font-weight: 400;
  text-align: right; 
  z-index: 99999;
}
.header-logo {
  float:left;
  width:fit-content;
  padding-left:15px;
  height:32px;
  position: relative;
  top:-10px;
}  
.header-link {
  float:left;
  width:fit-content;
  padding-left:30px;
  height:32px;
}
